@font-face {
font-family: 'Open Sans';
src: url('../font/open_sans_semi-bold.woff') format('woff'), url('../font/open_sans_semi-bold.ttf') format('ttf');
font-weight: 600;
font-style: normal;
font-display: swap;
}