@font-face {
font-family: 'Comfortaa';
src: url('../font/comfortaa_bold.woff') format('woff'), url('../font/comfortaa_bold.ttf') format('ttf');
font-weight: 700;
font-style: normal;
font-display: swap;
}